<h1>Single player game</h1>
<p>
  <strong>From:</strong>
  <%= @game.from %>
</p>
 
<p>
  <strong>To:</strong>
  <%= @game.to %>
</p>

<div id="wikipedia-area" class="col-md-10 with-sidebar">
    <h3>Game</h3>
    <iframe id="wikipedia-iframe" src="http://fr.wikipedia.org/wiki/<%= @game.from %>">
    </iframe>
</div>

<div id="game-details" class="col-md-2">
    <h3>Details</h3>
    <p>
        <strong>Steps:</strong>
        <span id="steps">0</span>
    </p>
    <strong>History:</strong>
    <ul id="game-history">
        <li><%= @game.from %></li>
    </ul>
<div>