<h1>Single player game</h1>
<p>
    This is the single player game page.
</p>
<p>
    Here are the rules and explanations about the game.
</p>
<%= link_to "Start new game", newsingleplayer_path, :class => "btn btn-default" %>