<h1>Single player game</h1>
<p>
    This is the single player game page.
</p>
<p>
    You will be given a starting wikipedia article inside the pagee on Wikiwar and a destination article to reach. All you have to do is browse wikipedia inside this page to reach the destination.
</p>
<p>
    Try to reach the destination with the fewest number of steps, and quickly.
</p>
<%= link_to "Start new game", singleplayergame_path, :class => "btn btn-default" %>