<h1>Your Stats</h1>
<p>
    This is the stats page.
</p>

<h4>Last 10 Single Player Games</h4>
<table class="table table-hover">
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Date</th>
    <th>Victory</th>
  </tr>
  <% current_user.single_player_games.first(10).each do |game| %>
    <tr>
      <td><%= game.from %></td>
      <td><%= game.to %></td>
      <td><%= game.created_at %></td>
      <td><%= game.is_victory %></td>
    </tr>
  <% end %>
</table>

<h4>Last 10 Multi Player Games</h4>
<table class="table table-hover">
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Date</th>
    <th>Victory</th>
  </tr>
</table>