<h1>About WikiWar</h1>
<p>
    The idea of wikiwar comes from these videos on youtube :
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/FdJN2iK0BSo" frameborder="0" allowfullscreen></iframe>

<p>
    This web app was built only to learn a bit of ruby on rails.
</p>