#wikipedia-area {
    border: 1px solid #A1A1A1;;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px #D6D6D6;
    min-height: 100vh;
    max-height: 600px;
    overflow: auto;
}

td {
    &.victory-true {
        color: #379E48;
    }

    &.victory-false {
        color: #C73939;
    }
}

.review-player {
    margin: 10px;
    .gravatar {
            margin-right: 14px;
            max-width: 60px;
    }
    .pseudo {
        max-width: 300px;
        font-weight: 500;
        font-size: 14px;
        margin: 18px 0px 0px;
    }
}

.withdraw {
    padding: 10%;
}