// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wikipedia-area {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#wikipedia-iframe {
    background: #000;
    border: 1px solid #EDEEF1;
    flex-grow: 1;
}