    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>
                <a href="/">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <% if current_user %>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="fa fa-gamepad"></i>
                    <span>Play</span>
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><%= link_to "Single Player", singleplayer_path %></li>
                    <li><%= link_to "Multiplayer", multiplayer_path %></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="fa fa-user"></i>
                    <span>User Menu</span>
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><%= link_to "Update account", update_account_path %></li>
                    <li><%= link_to "Statistics", statistics_path %></li>
                </ul>
            </li>
            <% end %>
            <li>
                <a href="about">
                    <i class="fa fa-info"></i>
                    <span>About</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->